<h1>Result</h1>
<h2><%= @car.year %> <%= @car.make %> <%= @car.model %></h2>
<p>MPG: <%= @car.mileage %></p>
<p>Cylinders: <%= @car.cylinders %></p>
<p>Liters: <%= @car.liters %></p>
<p>Drive: <%= @car.drive %></p>
<p>Transmission: <%= @car.trany %></p>
